@import '../../.cache/wal/colors-waybar.css';
@define-color arch #59DCEB;

* {
  border-radius: 10px;
  font-family: "JetbrainsMono Nerd Font";
  font-size: 15px;
  color: @cursor;
}
window#waybar {
  background: transparent;
}
window#waybar.empty #window {
  background: none
}

#battery,
#clock,
#cpu,
#custom-launcher,
#custom-uptime,
#custom-updates,
#memory,
#wireplumber,
#tray,
#custom-weather,
#window,
#workspaces {
  margin: 5px 0px 0px 5px;
  padding: 0px 10px;
  background: @background;
}

#workspaces {
  padding: 0px;
  color: @color1;
}
#workspaces button {
  padding: 0px 5px;
  margin: 4px 3px;
  background: @background;
  font-weight: bold;
  border-radius: 5px;
  transition: all 0.1s;
}
#workspaces button.active {
  background: @color1;
  min-width: 40px;
}

#custom-launcher {
  font-size: 20px;
  padding-right: 5px;
  margin-right: 10px;
}
#custom-launcher {
  color: @arch;
  margin-right: 0px;
  margin-left: 10px;
}
#tray {
  margin-right: 10px;
}
