@define-color active-background #64727D;
@define-color arch #89DCEB;
@define-color background #222222;
@define-color no transparent;
@define-color white #FFFFFF;

* {
  border-radius: 10px;
  font-family: "JetbrainsMono Nerd Font";
  font-size: 15px;
  color: @white;
}
window#waybar {
  background: @no;
}

#backlight,
#battery,
#clock,
#cpu,
#custom-launcher,
#custom-power,
#custom-updates,
#custom-wallpaper,
#memory,
#pulseaudio,
#taskbar,
#tray,
#custom-weather,
#workspaces {
  margin: 5px 0px 0px 8px;
  padding: 0px 10px;
  background: @background;
}
#custom-power,
#custom-launcher {
  font-size: 20px;
  padding-right: 5px;
  margin-right: 10px;
}
#custom-launcher {
  color: @arch;
  margin-right: 0px;
}

#taskbar {
  margin: 6px 0px 0px 8px;
  padding: 0px;
}
#taskbar button {
  padding: 0px 5px;
  margin: 4px 3px;
  background: @background;
  font-weight: bold;
  border-radius: 10px;
  transition: all 0.1s ease-in-out;
}
#taskbar button.active,
#taskbar button:hover {
  background: @active-background;
}

#workspaces {
  margin: 6px 0px 0px 8px;
  padding: 0px;
}
#workspaces button {
  padding: 0px 5px;
  margin: 4px 3px;
  background: @background;
  font-weight: bold;
  border-radius: 10px;
  transition: all 0.1s ease-in-out;
}

#workspaces button.active,
#workspaces button:hover {
  background: @active-background;
}
#workspaces button.active {
  min-width: 40px;
}
